name: book
description: A new Flutter application.

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.0.0+1

environment:
  sdk: ">=2.10.0 <3.0.0"

dependencies:
  dio_retry: ^0.1.9-beta
  page_turn: ^1.0.1
  html: ^0.15.0
  firebase_analytics: ^7.1.1
  firebase_core: ^1.0.2
  extended_tabs: ^2.0.0
  palette_generator: ^0.3.0
  install_plugin: ^2.0.1
  flutter_cache_manager: ^2.1.2
  permission_handler: ^6.1.0
  battery: ^2.0.1
  fluro: ^2.0.3
  screen: ^0.0.5
  shared_preferences: ^2.0.4
  cached_network_image: ^2.5.1
  path_provider: ^2.0.1
  dio: ^3.0.10
  convert: ^3.0.0
  json_annotation: ^4.0.0
  event_bus: ^2.0.0
  flustars: ^2.0.1
  flutter_statusbar_manager: 
      git:
        url: https://github.com/Gentleflow/flutter_statusbar_manager.git
  bot_toast: ^4.0.1
  pull_to_refresh: ^1.6.4
  provider: ^5.0.0
  url_launcher: ^6.0.2
  get_it: ^6.0.0
  sqflite: ^2.0.0+2
  flutter:
    sdk: flutter

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^1.0.2

dev_dependencies:
#  build_runner: ^1.12.1
#  json_serializable: ^4.0.2
  flutter_test:
    sdk: flutter


# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true
  assets:
    - images/

  # To add assets to your application, add an assets section, like this:
  # assets:
  #  - images/a_dot_burr.jpeg
  #  - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Roboto
  #     fonts:
  #       - asset: fonts/iconfont.ttf

  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages

