name: book
description: A new Flutter application.

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.0.0+1

environment:
  sdk: ">=2.10.0 <3.0.0"

dependencies:
  firebase_analytics: ^7.0.1
  firebase_core: ^0.7.0
  audioplayers: ^0.17.0
  install_plugin: ^2.0.1
  flutter_cache_manager: ^2.0.0
  permission_handler: ^5.0.1+1
  flutter_rating_bar: ^3.0.1+1
  chewie: ^0.9.10
  video_player: ^0.10.12+2
  battery: ^1.0.11
  flutter_swiper: ^1.1.6
  fluro: ^1.7.8
  shared_preferences: ^0.5.12+2
  cached_network_image: ^2.5.0
  path_provider: ^1.6.16
  dio: ^3.0.9
  convert: 2.1.1
  extended_text: ^4.1.0
  json_annotation: ^2.0.0
#  fluttie: ^0.5.0
  event_bus: ^1.1.1
  flustars: ^0.2.6+1
  flutter_statusbar_manager: ^2.0.0
  bot_toast: ^3.0.5
  flutter_spinkit: ^4.1.2
  pull_to_refresh: ^1.6.2
  provider: ^4.3.2+2
  url_launcher: ^5.7.2
  get_it: ^4.0.2
  sqflite: ^1.3.2+1
  scroll_to_index: ^1.0.6
  flutter:
    sdk: flutter

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^0.1.2

dev_dependencies:
  build_runner: ^1.0.0
  json_serializable: ^2.0.0
  flutter_test:
    sdk: flutter


# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true
  assets:
    - images/

  # To add assets to your application, add an assets section, like this:
  # assets:
  #  - images/a_dot_burr.jpeg
  #  - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Roboto
  #     fonts:
  #       - asset: fonts/iconfont.ttf

  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages

